/* TODO Add site wide styles */
body{
  background-color:  #E8E8E8;
  margin: 0px;
}


#nprogress {
  width: 0%;
  position: absolute;
  transition: width 0.2s;
}

#nprogress.active {
  width: 100%;
  height: 1.5px;
  background-color: #e4461b;
}
