.div{
  display: block;
}

.div__navigation__styles{
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  height: auto;
  /* position: sticky; */
  top: 0;
  z-index: 20;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  display: flex;
}

.div__navigation{
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;

  padding-left: 10px;
  padding-right: 10px;

  align-items: center;
  display: flex;
  height: 66px;
  padding-bottom: 13px;
  padding-top: 13px;
  width: -webkit-fill-available;
}

.img__producthunt__icon{
  max-width: 30px;
  max-height: 30px;
  position: relative;
  cursor: pointer;
}

.input__navigation__search{
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background: #F5F8FF;
}

.img__navigation__search{
  height: 20px;
  width: 20px;
  background: #F5F8FF;
  position: relative;
  top: 6px;
  right: 2px;
}

.img__navigation__heartbeat {
  height: 30px;
  width: 30px;
  border-radius: 15%;
  /* background-color: white; */
  transform: scaleX(-1);
  margin-left: 20px
}

.form__input__navigation__search{
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 13px;
  background: #F5F8FF;
  color: #999A9C;
}

.form__label__navigation__search {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 13px;
  background: #F5F8FF;
  color: #999A9C;
}

.div__navigation__search__style{
  display: flex;
  position: relative;
  bottom: 5px;
  left: 13px;
}

.div__navigation__styles__login{
  margin-left: auto;
}

.div__navigation__styles__links{
  display: flex;
  color: inherit;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.div__navigation__discussions{
  padding-left: 5px;
  padding-right: 5px;
  color: inherit;
  text-decoration: none;
}

.div__navigation__deals{
  padding-left: 5px;
  padding-right: 5px;
  color: inherit;
  text-decoration: none;
}

.div__navigation__jobs{
  padding-left: 5px;
  padding-right: 5px;
  color: inherit;
  text-decoration: none;
}

.div__navigation__ship{
  padding-left: 5px;
  padding-right: 5px;
  color: inherit;
  text-decoration: none;
}

.label__navigation__dropdown{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  bottom: 3px;
  color: #999A9C;
}

.button__navigation__profile__image{

  width: 40px;
  height: 40px;
  overflow:hidden;
  padding: 0;
  vertical-align: bottom;
  border: none;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  line-height: 24px;
  margin-left: 20px;
}

.image__navigation__profile__image{
  max-width: 100%;
  float:right;
  height:auto;
  margin: 0 auto;
  padding: 0;
}


.div__navigation__popover{
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  position: absolute;
  display: block;
  border-bottom-color: #e8e8e8;
  margin-left: -11px;
  top: 4.3%;
  right: 2%;
  z-index: 25;
  /* height: 247px; */
  margin-top: 25px;
}

.ul__navigation__styles{
  line-height: 16px;
  list-style: none;
  margin: 15px;
  padding: 0;
  text-transform: uppercase;
  -webkit-text-size-adjust: 100%;
}

.li__navigation__style{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  text-align: -webkit-match-parent;
  line-height: 16px;
  font-weight: 600;
  font-size: 11px;
  color: #6f6f6f;
  text-decoration: none;
}

.hr__popover__class__separator{
  background: #e8e8e8;
  border: 0;
  height: 1px;
  margin: -5px 0;
}

.button__navigation__popover__logout{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  text-align: -webkit-match-parent;
  border: none;
  border-color: none;
  color: #6f6f6f;
  text-decoration: none;
  line-height: 16px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}

.navlink__popover__styles{
  color: #6f6f6f;
  text-decoration: none;
  line-height: 16px;
  font-weight: 600;
  font-size: 11px;
  text-align: -webkit-match-parent;
  cursor: pointer;
  text-transform: uppercase;
}

.ul__navigation__styles .li__navigation__style:not(:first-child){
  padding-top: 15px;
}

.div__popover__triangle__grey{
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #e8e8e8;
  border-width: 11px;
  /* border: solid transparent; */
  content: " ";
  pointer-events: none;
  position: absolute;
  top: -12px;
  left: 101px;
}

.div__popover__triangle__white{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-width: 11px;
  /* border: solid transparent; */
  content: " ";
  pointer-events: none;
  position: absolute;
  top: -11px;
  left: 102px;
}

.navlink__navigation__post__products{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  font-variant-numeric: tabular-nums;
  text-decoration: none;
  color: rgb(153, 154, 156);
}
